@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+10&family=Port+Lligat+Slab&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: #212121;
    color: white;
    width: 100vw;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.taskbar{
    width:300px;
    background-color: rgb(27, 27, 27);
    /* overflow: auto; */
    padding: 20px 10px;
}
.chatbot{
    width: 1050px;
    overflow: hidden;
}
.taskHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.taskHead img{
    width: 25%;
    border-bottom: 1px solid #4C83EF;
    border-top: 1px solid #D46678;
    border-radius: 50%;
}
.taskLogo{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.taskLogo p{
    font-size: 35px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 500;
    background-image: linear-gradient(to right, #4C83EF, #AA6EB4, #D46678); 
    background-clip: text; 
    color: transparent;
}
.taskHead i{
    font-size: 30px;
    cursor: pointer;
}
#taskSearch{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#taskSearch i{
    font-size: 25px;
    position: absolute;
    left: 85%;
}
#taskSearch input{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    border: 2px solid #4C83EF;
}
#taskSearch input::placeholder{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#previousChats{
    margin: 10px 0px;
    padding: 0px 10px;
    width: 290px;
    height: 330px;
    /* background-color: red; */
    overflow: auto;
}
#previousChats p{
    margin: 5px 0px;
    background-image: linear-gradient(to right, #4C83EF, #AA6EB4, #D46678); 
    background-clip: text; 
    color: transparent;
}
#previousChats ul li{
    list-style: none;
    padding: 10px 10px;
    /* border: 2px solid white; */
    border-radius: 10px;
    margin: 1px 0px;
}
#previousChats ul li:hover{
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 10px; /* for vertical scrollbars */
    height: 10px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
    background: #3f3f3f; /* Light grey background */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #828282; /* Dark grey handle */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #4C83EF, #AA6EB4, #D46678);
}
#newChats{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#newChats i{
    background-image: linear-gradient(to right, #4C83EF, #AA6EB4, #D46678); 
    background-clip: text; 
    color: transparent;
    font-size: 30px;
    border-radius: 50%;
    border-bottom: 3px solid #D46678;
    border-top: 3px solid #4C83EF;
    border-left: 3px solid #AA6EB4;
    border-right: 3px solid #79066c;
    padding: 7px;
}
#newChats i:hover{
    cursor: pointer;
}
#newChats p{
    position: absolute;
    left: 290px;
    background-color: #3f3f3f;
    padding: 7px;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#newChats:hover #new{
    visibility: visible;
    opacity: 1;
}
#toDoList{
    width: 180px;
    height: 40px;
    font-size: 17px;
    border-radius: 20px;
    border: none;
    border: 1px solid white;
    background-image: linear-gradient(to right, #4C83EF, #AA6EB4, #D46678); 
    color: white;
    cursor: pointer;
}
.chatbotHead i{
    font-size: 25px;
    padding: 8px;
    margin-right: 30px;
    border-radius: 50%;
    background: linear-gradient(to right, #4C83EF, #AA6EB4, #D46678); 
    cursor: pointer;
    position: relative;
}
.chatbotHead{
    width: 100%;
    height: auto;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.chatbotHead p{
    font-size: 35px;
    margin-left: 20px;
    font-family: "Jersey 10", sans-serif;
    letter-spacing: 1px;
}

/* chatbot */

.card {
	height: 45vw;
	width: 100%;
	background-color: transparent;
}
/* 
body .card #header {
	height: 5vw;
	background: #000;
	padding: 0vw;
}

body .card #header h1 {
	color: #fff;
	font-size: 2vw;
	font-family: "Finger Paint", cursive;
	padding: 1vw;
} */
#message-section::-webkit-scrollbar {
	width: 10px;
}
#message-section {
	height: 75vh;
	padding: 10px 50px;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
#message-section::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}
#message-section::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #4C83EF, #AA6EB4, #D46678); 
	border-radius: 30px;
	border: 3px solid var(--scrollbarBG);
}

#message-section #bot,
#message-section #user {
	position: relative;
	bottom: 0;
	min-height: 3vw;
	/* border: 2px solid #000000; */
	background-color: transparent;
	border-radius: 0px 1.5vw 1.5vw 1.8vw;
	padding: 15px;
	margin: 10px 15px;
    background-image: linear-gradient(to right, #4C83EF, #AA6EB4, #D46678); 
    background-clip: text; 
    color: transparent;
    font-size: 20px;
    text-transform: capitalize;
}
#message-section #bot{
    white-space: nowrap;                
    overflow: hidden;                                
    animation: typing 3s steps(40, end), blink 0.75s step-end infinite;
    overflow-x: hidden;
}
@keyframes typing {
    from { width: 0; }      
    to { width: 80%; }                
}
@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}
#message-section #user {
	border-radius: 40px;
    background-color: #2F2F2F;
	float: right;
}
#message-section #user #user-response {
	color: #fff;
}
#message-section .message {
	color: #000;
	clear: both;
	line-height: 1.2vw;
	font-size: 1.2vw;
	padding: 8px;
	position: relative;
	margin: 8px 0;
}
#input-section{
    display: flex;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
}
#input-section input{
    width: 700px;
    height: 50px;
    border-radius: 40px;
    background-color: #2F2F2F;
    border: none;
    color: white;
    font-size: 18px;
    padding-left: 20px;
}
#input-section input::placeholder{
    color: #858585;
}
#input-section input:focus {
    outline: none;
    border: none;
}
#input-section #send{
    font-size: 30px;
    position: relative;
    right: 45px;
    background-color: #676767;
    border-radius: 50%;
    padding: 3px;
    color: #2F2F2F;
    cursor: pointer;
}