<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | DRONA</title>
    <link rel="stylesheet" href="register.css">
    <link rel="icon" type="x-icon" href="image/Drona-removebg-preview.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="document">
    <div class="header">
        <img src="image/Drona-removebg-preview.png" alt="">
    </div>
    <div class="main">
        <h1>Create an account</h1>
        <p>Already have an account? <a style="text-decoration: none; color: #1264A3" href="">Login</a></p>
        <form>
            <div class="username">
                <input type="text" placeholder="First name">
                <input type="text" placeholder="Last name">
            </div>
            <input type="text" placeholder="name@work-email.com">
            <input type="password" placeholder="Password">
            <div class="remember">
                <div class="rememberMe">
                    <input type="checkbox">
                    <p>I agree to the <a href="">terms & conditions*</a></p>
                </div>
            </div>
            <button>Create account</button>
            <p>OR</p>
            <div class="sign-in">
                <button><i class='bx bxl-google' ></i>Continue with Google</button>
                <!-- <h3 class="apple"><i class='bx bxl-apple' ></i>Continue with Apple</h3> -->
            </div>
        </form>
    </div>
        <!-- <footer>
            <p><a href="#">Privacy & terms</a></p>
            <p><a href="#">Contact us</a></p>
        </footer> -->
</div>
</body>
</html>