<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drona AI</title>
    <link rel="stylesheet" href="welcome.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header id="header">
        <div id="headerImage">
            <img src="image//Drona.jpg" alt="">
        </div>
        <div class="options">
            <a href="#home">HOME</a>
            <a href="#about">ABOUT</a>
            <a href="#contact">CONTACT</a>
            <button>Login</button>
            <!-- <button>Log In</button> -->
        </div>
    </header>
    <div id="home">
        <div id="homeOptions">
            <h1>DRONA</h1>
            <p>Unlock endless possibilities <br> with our AI app—where innovation <br> meets efficiency for smarter <br> solutions and
            inspired creativity <br> every day</p>
            <button>Learn More</button>
        </div>
    </div>
    <div id="about">
        <h1>WANT TO KNOW ABOUT US?</h1>
        <div id="aboutContainer">
            <div id="aboutDrona">
                <h1>Who is DRONA?</h1>
                <p>Your gateway to mastering artificial intelligence through innovative educational resources. Our mission is to provide cutting-edge tools and content that empower learners and educators in the evolving field of AI.We are dedicated to revolutionizing education by making AI knowledge accessible and engaging.</p>
            </div>
        </div>
    </div>
    <h1 style="color: white; text-align: center; font-size: 70px; padding-top:50px">Explore more features in DRONA</h1>
    <div id="tryDrona">
        <h1>Instant answers.Greater <br> productivity.Endless inspiration.</h1>
        <button>Try Drona<i class='bx bxs-left-top-arrow-circle bx-rotate-90' ></i></button>
    </div>
    <div id="contact">
        <h1>Any Suggestions?</h1>
        <div id="contactInfo">
            <h1>Contact Us</h1>
            <div id="info">
                <div id="contactName">
                    <p>Name:</p>
                    <input type="text" placeholder="Enter your name">
                </div>
                <div id="contactEmail">
                    <p>Email:</p>
                    <input type="email" placeholder="Enter your email id">
                </div>
                <div id="contactMessage">
                    <p>Message:</p>
                    <input type="text" placeholder="Type your message">
                </div>
                <button type="submit">Submit</button>
            </div>
        </div>
    </div>
    <script src="welcome.js"></script>
</body>
</html>