<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drona AI</title>
    <link rel="stylesheet" href="welcome.css">
</head>
<body>
    <header id="header">
        <div id="headerImage">
            <img src="image//Drona.jpg" alt="">
        </div>
        <div class="options">
            <a href="">HOME</a>
            <a href="">ABOUT</a>
            <a href="">CONTACT</a>
            <button>Log In</button>
            <!-- <button>Log In</button> -->
        </div>
    </header>
    <div id="home">
        <div id="homeOptions">
            <h1>DRONA</h1>
            <p>Unlock endless possibilities <br> with our AI app—where innovation <br> meets efficiency for smarter <br> solutions and
            inspired creativity <br> every day</p>
            <button>Learn More</button>
        </div>
    </div>
    <div id="about">
        <h1>WANT TO KNOW ABOUT US?</h1>
        <div id="aboutContainer">
            <div id="aboutDrona">
                <h1>What can Drona do?</h1>
                <p>Welcome to DRONA where innovation meets intelligence. We specialize in cutting-edge artificial intelligence solutions tailored to transform your business and elevate user experiences. Our team of experts leverages advanced machine learning,natural language processing, and data analytics to deliver custom AI tools that drive efficiency and unlock new opportunities. Whether you're looking to automate processes, gain actionable insights, or enhance customer interactions, our AI technology provides the scalability and precision you need.</p>
            </div>
        </div>
    </div>
    <script src="welcome.js"></script>
</body>
</html>