@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+10&family=Port+Lligat+Slab&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: black;
    width: 100%;
}
#header{
    padding: 0 40px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    z-index: 100;
}
#header img{
    max-width: 15%;
}
#header .options{
    display: flex;
    align-items: center;
    gap: 50px;
}
.options a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .8s;
}
.options a:hover{
    background-color: #fff;
    color: #000;
}
.options button{
    width: 100px;
    height: 35px;
    padding: 20px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    font-weight: 600;
}
.options button:hover{
    background-color: #1E5886;
    font-size: 17px;
    color: #fff;
}
#home{
    width: 95%;
    margin: auto;
    height: 100vh;
    padding: 0px 30px;
    background-image: url(image/WhatsApp\ Image\ 2024-09-15\ at\ 17.37.33_cc55ae8b.jpg);
    background-size: cover;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    /* transition: .5s; */
}
/* #home:hover{
    scale: 1.01;
} */
#home h1{
    font-size: 150px;
    display: flex;
    font-family: "Jersey 10", sans-serif;
}
#home p{
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
}
#homeOptions{
    padding: 0px 30px;
}
#homeOptions button{
    margin-top: 30px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: #000;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: 0.4s;
}
#homeOptions button:hover{
    background-color: #fff;
    color: black;
}
#about{
    width: 100%;
    padding: 0px 30px;
}
#about h1{
    font-family: "Port Lligat Slab", serif;
    color: #fff;
    font-size: 50px;
    padding: 50px 0px;
}
#aboutContainer{
    width: 100%;
    margin: auto;
    height: 100vh;
    background-image: url(image/about.jpg);
    background-size: cover;
    border-radius: 30px;
}
#aboutContainer h1{
    font-family: "Jersey 10", sans-serif;
    font-size: 100px;
}
#aboutContainer p{
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Iceberg", sans-serif;
}
#aboutDrona{
    width: 55%;
    position: absolute;
    right: 30px;
    padding-right: 30px;
}
#tryDrona{
    width: 95%;
    height: 50vh;
    margin: auto;
    background-color: rgba(255,255,255,0.15);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    margin-top: 50px;
}
#tryDrona h1{
    font-size: 60px;
    font-family: "Jersey 10", sans-serif;
    text-align: center;
    color: #fff;
    padding: 30px;
    letter-spacing: 2px;
}
#tryDrona button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: none;
    gap: 5px;
    font-size: 22px;
    padding: 25px 0px;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
}
#tryDrona button i{
    font-size: 30px;
}
#tryDrona button:hover{
    background-color: #000;
    color: white;
}
#contact{
    width: 100%;
    height: 100vh;
    padding: 0px 30px;
    color: #fff;
}
#contact h1{
    font-family: "Port Lligat Slab", serif;
    font-size: 50px;
    padding: 50px 0px;
}
#contactInfo{
    width: 100%;
    margin: auto;
    border-radius: 30px;
    height: 160vh;
    /* background: linear-gradient(to right,#235786,#5389b5,#1190ff); */
    background-image: url(image/download\ \(1\).png);
    background-size: cover;
    text-align: center;
}
#contactInfo h1{
    font-size: 60px;
    font-family: "Jersey 10", sans-serif;
}
#info{
    width: 90%;
    height: 75%;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    margin: auto;
    border-radius: 30px;
    padding: 40px 0px;
    font-size: 30px;
}
#info p{
    font-family: "Port Lligat Slab", serif;
    font-size: 35px;
}
#info input{
    width: 80%;
    height: 50px;
    border-radius: 30px;
    padding: 20px;
    font-size: 17px;
    color: black;
    margin: 20px;
    text-align: center;
    font-family: "Jersey 10", sans-serif;
}
#contactMessage input{
    height: 200px;
}
#info button{
    /* width: 100px; */
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}
#info button:hover{
    background-color: #000;
    color: white;
    border: 2px solid white;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,rgb(22,163,142),#00c6ff);
    border-radius: 6px;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#00c6ff);
}