@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+10&family=Port+Lligat+Slab&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: black;
    width: 100%;
    background-image: url(image/stars.png);
}
#header{
    padding: 0 3vw;
    width: 100%;
    /* height: 70px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    z-index: 100;
}
#header img{
    max-width: 90px;
}
#header .options{
    display: flex;
    align-items: center;
    gap: 15px;
}
.options a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 20px;
    transition: .8s;
}
.options a:hover{
    background-color: #fff;
    color: #000;
}
.options i{
    color: white;
    font-size: 2.5vw;
    display: none;
}
.options button{
    width: 100px;
    height: 35px;
    padding: 20px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    font-weight: 600;
}
.options button:hover{
    background-color: #1E5886;
    font-size: 17px;
    color: #fff;
}
#home{
    max-width: 95%;
    /* flex-grow: 1; */
    height: 100%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: rgba(169, 169, 169, 0.15);
    border-radius: 20px;
}
#homeOptions{
    width: 50%;
    border-radius: 20px 0px 0px 20px;
    /* background-color: blue; */
    height: 100%;
    padding: 1vw 2vw;
}
#homeImage{
    width: 45%;
    height: 100%;
}
#homeImage img{
    width: 100%;
    height: 100%;
}
#home h1{
    font-size: 13vw;
    font-family: "Jersey 10", sans-serif;
    color: #fff;
    background-image: linear-gradient(to right, #4C83EF, #AA6EB4, #D46678); 
    background-clip: text; 
    color: transparent;
}
#home p{
    font-size: 3vw;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
}
#firstAi p{
    font-size: 3.6vw; 
    background-image: linear-gradient(to right, #4C83EF, #AA6EB4, #D46678); 
    background-clip: text; 
    color: transparent;
}
#homeOptions button{
    margin: 20px 0px;
    width: 12vw;
    height: 4vw;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #4C83EF, #AA6EB4, #D46678); 
    color: white;
    cursor: pointer;
    font-size: 1.4vw;
    font-family: 600;
    transition: 0.4s ease-in;
}
#homeOptions button:hover{
    background: #fff;
    color: black;
}
#about{
    width: 100%;
    height: 100%;
    /* padding: 0px 3vw; */
}
#about h1{
    font-family: "Port Lligat Slab", serif;
    color: #fff;
    font-size: 4.5vw;
}
#aboutContainer{
    width: 95%;
    margin: auto;
    background-size: cover;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-color: rgba(169, 169, 169, 0.15);
    padding: 3vw 0vw;
}
#aboutContainer h1{
    font-family: "Jersey 10", sans-serif;
    font-size: 7vw;
    background-image: linear-gradient(to right, #4C83EF, #AA6EB4, #D46678); 
    background-clip: text; 
    color: transparent;
}
#aboutImage{
    width: 40%;
}
#aboutImage img{
    width: 90%;
    padding-left: 3vw;
}
#aboutContainer p{
    color: white;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    padding: 2vw 0vw;
}
#aboutDrona{
    width: 55%;
    display: flex;
    flex-direction: column;
    padding: 0vw 2vw;
}
#tryDrona{
    width: 95%;
    margin: auto;
    background-color: rgba(169, 169, 169, 0.15);
    border-radius: 30px;
    padding: 2vw 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tryDrona h1{
    font-size: 5vw;
    padding: 0vw 5vw;
    font-family: "Jersey 10", sans-serif;
    text-align: center;
    color: #787878;
    letter-spacing: 2px;
}
#tryDrona button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14vw;
    height: 2vw;
    border-radius: 30px;
    border: none;
    gap: 0.5vw;
    font-size: 2vw;
    padding: 2vw 1vw;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 1vw;
}
#tryDrona button i{
    font-size: 2.5vw;
}
#tryDrona button:hover{
    background-color: #000;
    color: white;
}
#contact{
    width: 95%;
    margin: auto;
    color: #fff;
    margin-bottom: 3vw;
}
#contact h1{
    font-family: "Port Lligat Slab", serif;
    font-size: 4.5vw;
    margin-bottom: 2vw;
}
#contactInfo{
    width: 100%;
    margin: auto;
    padding: 3vw;
    border-radius: 30px;
    /* height: 160vh; */
    /* background: linear-gradient(to right,#235786,#5389b5,#1190ff); */
    background-image: url(image/download\ \(1\).png);
    background-size: cover;
    text-align: center;
}
#contactInfo h1{
    font-size: 60px;
    font-family: "Jersey 10", sans-serif;
    color: #0bdbd7;
}
#info{
    width: 90%;
    background-color: rgba(255,255,255,0.2);
    margin: auto;
    border-radius: 30px;
    padding: 2vw 0vw;
}
#info p{
    font-family: "Port Lligat Slab", serif;
    font-size: 3vw;
    padding: 0vw 9vw;
    text-align: start;
}
#info input{
    width: 80%;
    border-radius: 15px;
    border: none;
    padding: 0.5vw 1.5vw;
    font-size: 2.2vw;
    color: black;
    margin: 1.5vw;
    font-family: "Jersey 10", sans-serif;
    word-wrap: break-word;
}
#contactMessage input{
    height: 15vw;
}
#info button{
    padding: 1vw 3vw;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}
#info button:hover{
    background-color: #000;
    color: white;
    border: 1px solid white;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #4C83EF, #AA6EB4, #D46678); 
    border-radius: 6px;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(to bottom, #4C83EF, #AA6EB4, #D46678); 
}


@media (max-width: 600px) {
    body{
        margin: auto;
    }
    .options i{
        display: block;
        font-size: 30px;
    }
    #header img{
        width: 20vw;
    }
    .options a{
        display: none;
    }
    .options button{
        display: block;
        width: 20vw;
        padding: 0vw 1vw;
        font-size: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #home{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 70px;
        background-color: transparent;
    }
    #homeOptions{
        width: 100%;
        background-color: rgba(169, 169, 169, 0.15);
        border-radius: 20px;
        text-align: center;
    }
    #homeOptions button{
        width: 40vw;
        height: 7vw;
        font-size: 3vw;
        border-radius: 4px;
    }
    #home h1{
        font-size: 35vw;
        letter-spacing: 3px;
        margin-top: 5vw;
    }
    #home p{
        font-size: 7vw;
        margin-top: 3vw;
        padding: 0 3vw;
    }
    #firstAi p{
        font-size: 7vw;
    }
    #homeImage{
        width: 100%;
    }
    #homeImage img{
        width: 100%;
    }
    #about h1{
        font-size: 7vw;
        text-align: center;
    }
    #aboutDrona{
        background-color: rgba(169, 169, 169, 0.15);
        border-radius: 20px;
        padding: 5vw 3vw;
        width: 100%;
    }
    #aboutContainer{
        background-color: transparent;
        display: flex;
        flex-direction: column;
    }
    #aboutImage{
        /* width: 100%; */
        display: none;
    }
    #aboutDrona h1{
        font-size: 15vw;
        letter-spacing: 2px;
    }
    #aboutDrona p{
        text-align: start;
        font-size: 7.5vw;
        padding: 2vw 5vw;
    }
    #tryDrona{
        border-radius: 20px;
        padding: 6vw 0vw;
    }
    #tryDrona h1{
        font-size: 8.3vw;
    }
    #tryDrona button{
        width: 25vw;
        font-size: 3vw;
        height: 6vw;
        margin-top: 3vw;
    }
    #contact h1{
        font-size: 7vw;
        text-align: center;
        margin: 4vw 0vw;
    }
    #contactInfo{
        padding: 1vw 0vw;
        border-radius: 20px;
    }
    #contactInfo h1{
        font-size: 12vw;
        letter-spacing: 4px;
    }
    #info{
        padding: 7vw 0vw;
        border-radius: 10px;
    }
    #info p{
        font-size: 6vw;
    }
    #info input{
        width: 65vw;
        border-radius: 2px;
        height: 5vw;
        font-size: 3.6vw;
    }
    #info button{
        width: 15vw;
        height: 5vw;
        font-size: 2.5vw;
        border-radius: 3px;
        margin-top: 2vw;
    }
}