<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat System</title>
    <body>
        <h1>
            Create New 
            <form action="{{url_for('new_chat')}}" method="post">
                <button type="submit">+</button>
                <input type="hidden" name="id" value="NULL">
            </form>
        </h1>
        {%for i in data%}   
        {{i}} 
        {%endfor%}
    </body>
</html>
