<!DOCTYPE html>
<html>
<head>
	<title>Notepad</title>
	<link rel="stylesheet" href="notes.css">
</head>
<body>
	<div class="head">
		<div class="headLogo">
			<link rel="stylesheet" href="{{ url_for('static', filename='notes.css') }}">
		</div>
		<div class="headContent">
			<h1>📝Notepad</h1>
		</div>
	</div>
	<div class="toolbar">
		<button id="new-note">➕New Note</button>
		<button id="save-note">📝Save Note</button>
	</div>
	<div class="notepad-container">
		<textarea id="notepad" placeholder="Start typing..."></textarea>
		<div class="notes-list">
			<div id="savedNotes" style="display:flex;justify-content:center;">

			</div>
		</div>
	</div>
	<script src="{{ url_for('static', filename='notes.js') }}"></script>
</body>
</html>