<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drona | A FIRST AI MENTOR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='welcome.css') }}">
    <link rel="icon" type="x-icon" href="{{ url_for('static', filename='image/Drona-removebg-preview.png') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap" rel="stylesheet">
</head>
<body>
    <header id="header">
        <div id="headerImage">
            <img src="{{url_for('static',filename='image/Drona-removebg-preview.png')}}" alt="">
        </div>
        <div class="options">
            <a href="#home">HOME</a>
            <a href="#about">ABOUT</a>
            <a href="#contact">CONTACT</a>
            <form action="{{url_for('login')}}",method="get">
                <button>Login</button>
            </form>
            
            <!-- <button>Log In</button> -->
        </div>
    </header>
    <div id="home">
        <div id="homeOptions">
            <h1>DRONA</h1>
            <div id="firstAi">
                <p>First AI based personalised teacher</p>
            </div>
            <p>Unlock endless possibilities with our AI app—where innovation meets efficiency for smarter solutions and inspired creativity every day</p>
            <button>Learn More</button>
        </div>
        <div id="homeImage">
            <img src="{{ url_for('static', filename='image/welcome1.png') }}" alt="">
        </div>
    </div>
    <div id="about">
        <h1 style="padding: 2vw 3vw;">WANT TO KNOW ABOUT US?</h1>
        <div id="aboutContainer">
            <div id="aboutImage">
                <img src="{{ url_for('static', filename='image/welcome2.png') }}" alt="">
            </div>
            <div id="aboutDrona">
                <h1>Who is DRONA?</h1>
                <p>Your gateway to mastering artificial intelligence through innovative educational resources. Our mission is to provide cutting-edge tools and content that empower learners and educators in the evolving field of AI. We are dedicated to revolutionizing education by making AI knowledge accessible and engaging.</p>
            </div>
        </div>
    </div>
    <h1 style="color: white; text-align: center; font-size: 6vw; padding: 3vw 0vw; background-image: linear-gradient(to right, #4C83EF, #AA6EB4, #D46678); background-clip: text; color: transparent;">Explore more features in DRONA</h1>
    <div id="tryDrona">
        <h1>Instant answers.Greater <br> productivity.Endless inspiration.</h1>
        <form action="{{url_for('register')}}"><button action >Try Drona<i class='bx bxs-left-top-arrow-circle bx-rotate-90' ></i></button></form>
        
    </div>
    <div id="contact">
        <h1>Any Suggestions?</h1>
        <div id="contactInfo">
            <h1>Contact Us</h1>
            <div id="info">
                <form action="{{url_for('suggestions')}}" method='get'>
                    <div id="contactName">
                        <p>Name:</p>
                        <input type="text" placeholder="Enter your name" name="name" required>
                    </div>
                    <div id="contactEmail">
                        <p>Email:</p>
                        <input type="email" placeholder="Enter your email id" name="email" required>
                    </div>
                    <div id="contactMessage">
                        <p>Message:</p>
                        <input type="text" placeholder="Type your message" name ="message" required>
                    </div>
                    <button type="submit">Submit</button>
                </form>
                
            </div>
        </div>
    </div>
    <script src="{{url_for('static',filename='welcome.js')}}"></script>
</body>
</html>


